---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <h1 class="text-2xl font-bold text-center pb-3 text-atlantis-400">Music</h1>

<iframe style="border: 0; width: 400px; height: 638px;" src="https://bandcamp.com/EmbeddedPlayer/album=3699694381/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=true/tracks=2831569808,2732741698,1869581835,2126876200/esig=66edf736dfa944252a71f7c8ac792166/" seamless><a href="https://tinkersdamn.bandcamp.com/album/from-the-depths-of-earl-drive">From the Depths of Earl Drive by Tinker&#39;s Damn</a></iframe>
</Layout>