---
import Layout from "../layouts/Layout.astro";
import Bandcamp from "../components/Bandcamp.astro";
---
<Layout>
    <h1 class="text-2xl font-bold text-center pb-3 text-atlantis-400">Upcoming Shows</h1>

    <Bandcamp bandId="id_3369257" appId="68c90bc813857bfdf502d57a42766be2" />

    <h1 class="text-2xl font-bold text-center py-3 text-atlantis-100">Past Shows</h1>

    <Bandcamp bandId="id_3369257" appId="68c90bc813857bfdf502d57a42766be2" upcoming={false} calendarBgColor="bg-atlantis-100" />
</Layout>