<div class="flex flex-col justify-center w-full gap-4 py-4">
    <iframe class="scaled-frame" src="https://bandsintown.com/artist/3369257/email_signup_form?headerTextColor=rgba(255,255,255,1)&backgroundColor=rgba(81,8,86,1)&ctaBackgroundColor=rgba(150,202,79,1)&title=Mailing List&headerTextStyle=normal&headerText=Sign up to get the latest updates&font=Gill Sans&ctaIcon=show&ctaBorderRadius=4px&ctaBorderWidth=2px&ctaBorderColor=rgba(150,202,79,1)&ctaFontColor=rgba(0,0,0,1)&alignment=center&emailInputField=hide&ctaLabel=Subscribe&layout=narrow&locale=en" width="256px" height="220px" title="newsletter-widget"></iframe>
</div>
