---
import '../styles/global.css';
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import { ClientRouter } from 'astro:transitions';
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Tinker's Damn</title>
    <ClientRouter />
</head>
<body class="bg-neutral-950">
<Header/>
<div class="flex">
    <div class="p-5 lg:max-w-6xl md:max-w-4xl w-full mx-auto">
        <slot/>
    </div>
    <div class="w-64">
        <Sidebar />
    </div>
</div>

</body>
</html>
